li {
    list-style-type: none;
}

body {
    margin: 0;
    font-family: Sans-Serif;
    background-color: #b4ecf042;
}

a {
    text-decoration: none;
}


h2 {
    width:50%;
    margin: 20px auto 5px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 8px #3ca3c1;
}

h3 {
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #333;
}

form {
    margin: 1.5rem auto 5px;
    width: 90%;
    max-width: 40rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 2px 8px #3ca3c1;
}

button {
    cursor: pointer;
    background-color: #bf0d55;
    color: white;
    border: 10px solid #bf0d55;
}

button:hover,
button:active {
    background-color: #320777;
    border-color: #320777;
}

.form-style {
    margin-bottom: 1rem;
}

.form-style input {
    font: inherit;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
    width: 10rem;
}

.form-style input:focus {
    border-color: #1f0050;
    background-color: #f4eeff;
    outline: none;
}

.form-style label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;

}


.underline-one {
	color: #00bfff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}

.underline-one:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.underline-one:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

.header {
    background-color: #17e9df75;
    padding: 10px;
}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	color: #00bfff;
	font-size: 20px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}
ul.mainmenu li.logo {margin: 0;}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #00bfff;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #00bfff;
}

.logo {
	background: url('../images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}

p.link-button {
	text-align: right;
	display: inline-block
}

p.link-button a {

	padding: 10px;
	min-width: 100px;
	background: #333671;
	color: #fff;
	text-decoration: none;
}

p.link-price a {
	padding: 10px;
	min-width: 70px;
	background: #1aca32c9;
	color: #fff;
	text-decoration: none;
}

p.link-price-disc a {
	padding: -24px;
	min-width: 80px;
	background: #e12c0fc9;
	color: #fff;
	text-decoration: none;
}

div.price {

    text-align: left;
    padding: 10px;
	min-width: 100px;
    font-size: 1.5em
	color: #2da160;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #17e9df75; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

img {max-width: 600px; height: auto;}

img.img-article-left {
	max-width: 500px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
}

img.img-article-left.thumb {
	max-width: 300px;
	height: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

ul.paginator {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li.paginatorr {
  margin: 0 5px;
}

li.paginatorr a {
  display: block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

li.paginatorr a.not_active {
  display: block;
  padding: 5px 10px;
  border: 1px solid #333671;
  color: #03111f;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

li.paginatorr a:hover {
  background-color: #eee;
}

.form-style {
    margin-bottom: 1rem;
}

.form-style input {
    font: inherit;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
    width: 10rem;
}

.form-style input:focus {
    border-color: #1f0050;
    background-color: #f4eeff;
    outline: none;
}

.form-style label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

#mainmenu li:last-child {
    float: right;
}

.form-error {
    color: red;
}